
body {
    margin: 0;
    padding: 0;
    background-color: #3b9595;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container h1 {
    margin-bottom: 20px;
    color: black;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #FFA07A;
    border-radius: 20px;
    background-color: #FFA07A;
}

.container form .form-group {
    margin-bottom: 10px;
}

.container form .form-group label {
    margin-bottom: 5px;
    display: block;
    color: black;
}

.container form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
}

.container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container form button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #FFA07A;
    color: black;
}

.container .alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: #388e3c;
    color: black;
    transition: all 0.3s ease-in-out;
}

.container .alert:hover {
    background-color: #388e3c;
    transform: scale(1.1);
}
